body {
  background-color: darkgrey;
  margin: 0;
  padding: 0;
}
.header {
  background-color: rgb(110, 105, 105);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.grid {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 300px;
  margin: 0 auto;
}
.g1 { grid-area: 1 / 1 / 3 / 4; }
.g2 { grid-area: 2 / 1 / 4 / 4; }
.foot {
  text-align: center;
  background-color: rgb(110, 105, 105);
  padding: 20px;
}
@media (max-width: 768px) {

  nav ul {
    flex-direction: column;
    text-align: center;
  }
  
  .grid {
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }
  .g1 {
    grid-area: 1 / 1 / 2 / 3; 
  }

  .g2 {
    grid-area: 2 / 1 / 3 / 3;
  }

}
